# Maven / Gradle
target/
build/

# Logs
*.log

# IDE files
.idea/
*.iml
*.classpath
*.project
*.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Application config (IMPORTANT)
src/main/resources/application.properties
src/main/resources/application.yml

# Env
.env

# Compiled files
*.class

# Jar/WAR
*.jar
*.war

# Node (if any frontend later)
node_modules/
dist/

pom.xml