<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 80vh"
>
  <div class="card shadow p-4" style="width: 400px">
    <h3 class="text-center mb-4">Login</h3>

    <form #f="ngForm" (ngSubmit)="onLogin()">
      <!-- Username -->
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="user.username"
          placeholder="Enter username"
          required
          #username="ngModel"
        />
      </div>

      <div class="text-danger" *ngIf="username.invalid && username.touched">
        Username is required
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="user.password"
          placeholder="Enter password"
          required
          minlength="4"
          #password="ngModel"
        />
      </div>

      <div class="text-danger" *ngIf="password.touched">
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div
          *ngIf="
            !password.errors?.['required'] && password.errors?.['minlength']
          "
        >
          Minimum 4 characters required
        </div>
      </div>

      <!-- Message -->
      <div class="text-center mt-2" *ngIf="msg">
        <p [class.text-success]="success" [class.text-danger]="!success">
          {{ msg }}
        </p>
      </div>

      <!-- Button -->
      <button class="btn btn-dark w-100 mt-2" [disabled]="f.invalid">
        Login
      </button>

      <!-- Register -->
      <p class="text-center mt-3">
        Don't have an account?
        <a routerLink="/register" class="text-decoration-none">Register</a>
      </p>
    </form>
  </div>
</div>
